@import "src/styles/common";

.root {
  background: $footer-bg;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  min-width: 100%;
  min-height: 519px;
  box-sizing: border-box;
  color: #FFFFFF;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;

}

.topSection {
  display: flex;
  flex-direction: column;
}

.connectBlockTitle {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 30px;
  margin-top: 50px;
}

.footer__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #FFFFFF;
}

.connectBlockSubtitle {
  font-size: 24px;
  line-height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.subscriptionForm {
  display: flex;
  flex-direction: row;

  .emailInput {
    box-sizing: border-box;
    width: 447px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 3px;
    margin-right: 30px;
    font-size: 24px;
    line-height: 28px;
    padding: 10px 20px;
    //color: #E5E5E5;
  }

  .btn {
    box-sizing: border-box;
    width: 170px;
    height: 60px;
  }
}

.connectBlockContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.socials {
  & p {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
  }

  .socials__imageContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

}

.bottom {
  display: flex;
  padding: 0 255px;
  flex-direction: row;
  justify-content: space-between;
  border-top: solid 1px $logo-color;
}